* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    transition: all .3s linear;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

/*--------------------------------Navbar--------------------------------------*/
header {
    height: 60px;
    background: white;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    top: 0;
    position: fixed;
    z-index: 1;


}

header h1 {
    font-size: 2.5rem;
    display: inline-block;
    line-height: 60px;
    margin-left: 5vw;
    color: #F05454;
}

header ul {
    float: right;
    margin-right: 5vw;
    list-style: none;
    z-index: 100000;

}

header ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 1.5vw;
}

header ul li a {
    text-decoration: none;
    font-weight: 800;
    font-size: 1.5rem;
    color: #F05454;
}

header ul li a:hover,
header h1:hover {
    color: #2C3333;
}

label #btn,
label #close {
    line-height: 60px;
    font-size: 3.5rem;
    color: #F05454;
    float: right;
    margin-right: 5vw;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*--------------------------------About di index.html--------------------------------------*/
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3% 0px;
    width: 100%;
    height: auto;
}

.about-img img {
    width: 32vw;
    height: 32vw;
}

.about-container {
    margin: 64px 5vw;
    display: flex;
}


.about-text {
    margin-top: 8vw;
    margin-bottom: 4vw;
    margin-left: 2vw;
}

.about-text h1 {
    font-weight: 800;
    font-size: 4.5rem;
    margin-bottom: 10px;
    color: #F05454;
    width: 100%;
    line-height: 3vw;
}

.about-text h2 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 10px;
    color: #F05454;
    width: 100%;
    line-height: 3vw;
}

.about-text p {
    color: #2C3333;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3vw;
}

.about-text p b {
    color: #F05454;

}

.btn {
    margin-top: 10px;
    background-color: #F05454;
    color: #2C3333;
    border: 3px solid #ffffff;
    width: 200px;
    height: 52px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 800;
    letter-spacing: 4px;
    display: none;
}

.btn:hover {
    color: #F05454;
    background-color: #ffffff;
    border: 3px solid #F05454;
    transition: all ease .3s;
}

/*----------------------------------Portfolio di index.html----------------------------------------------*/

#mywork {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mywork-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.mywork-title h1 a {
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 10px;
    color: #F05454;
    width: 100%;
    line-height: 50px;
}

.mywork-title h1 a:hover {
    color: #2C3333;
}

.mywork-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.mywork-box {
    width: 400px;
    background-color: white;
    margin: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.267);

}

.mywork-img {
    width: 100%;
    height: auto;
}

.mywork-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.mywork-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    font-family: calibri;
}

.mywork-text span {
    color: gray;
}

.mywork-text .mywork-link {
    font-size: 25px;
    color: #100F0F;
}

.mywork-text .mywork-link:hover {
    color: #F05454;
    transition: all ease 0.3s;
}

.mywork-text p {
    color: gray;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0px;
}

.mywork-text a {
    color: #100F0F;
}

.mywork-text a:hover {
    color: #F05454;
    transition: all ease 0.3s;
}

/*--------------------------------------- Content -------------------------------------------------*/
#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.content-title {
    margin: 24px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content-title h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #F05454;
}

.row-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.row-1 .img {

    width: 24vw;
    height: auto;

}

.row-1 .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.row-1 .text {
    width: 60%;
}

.row-1 .text p {
    margin-left: 32px;
    text-align: justify;
    font-family: calibri;
    font-size: 2rem;
    color: #2C3333;
    line-height: 32px;
    font-weight: 500;
}

.row-2 {
    width: 100%;
    margin-bottom: 48px;
}

.row-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.row-3 {
    width: 100%;
    margin-bottom: 48px;
}

.row-3 .text {
    margin: 0px 5vw;
}

.row-3 .text p {
    text-align: justify;
    font-family: calibri;
    font-size: 2rem;
    color: #2C3333;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 12px;

}

/*--------------------------------------- Contact -------------------------------------------------*/

.form {
    width: 80%;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.form-text {
    width: 100%;
    display: block;
    margin: 16px 0;
    padding: 20px 40px;
    outline: none;
    border: none;
    background-color: #2C3333;
    box-sizing: border-box;
    color: #fff;
    transition: .3s;
}

.form-text:focus {
    box-shadow: 0 0 16px #F05454;
}

textarea.form-text {
    resize: none;
    height: 120px;
    scrollbar-color: #2C3333;
}

.form-btn {
    float: right;
    border: 0;
    background-color: #F05454;
    color: #2C3333;
    padding: 12px 50px;
    border-radius: 16px;
    cursor: pointer;
    transition: .3s;
}

.form-btn:hover {
    background-color: #2c18e4;
    color: #ffffff;
}

/*--------------------------------------- Footer -------------------------------------------------*/

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #100F0F;
    color: beige;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.footer-box {
    width: 300px;
    margin: 20px;
    height: 200px;
}

.footer-title {
    text-align: center;
}

.footer-title h2 {
    font-size: 20px;
}

.footer-text {
    margin: 12px 24px;
    display: flex;
    flex-direction: column;
    font-family: calibri;
}

.footer-text ul {
    list-style: none;
}

.footer-text ul li {
    line-height: 24px;
    margin: 0;
}

.footer-text ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}

.footer-text ul li a:hover {
    text-decoration: underline;
}

span {
    line-height: 32px;
    font-family: calibri;
    font-size: 16px;
    margin-right: 12px;
}

.fa-location-dot,
.fa-phone,
.fa-envelope {
    width: 20px;
    height: 20px;
    text-align: center;
}

.footer-text p {
    font-family: calibri;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}

.footer-text .social a {
    padding: 0 2px;
}

.footer-text .social a span {
    text-align: center;
    width: 28px;
    height: 28px;
    background: rgb(48, 47, 47);
    line-height: 28px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
}

.footer-text .social a span:hover {
    background: #fff;
    color: red;
    transition: .3s;
}



/*--------------------------------- Media Query --------------------------------------------------*/
@media screen and (max-width:992px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 40%;
    }
}

@media screen and (max-width:576px) {
    html {
        font-size: 62.25%;
    }

    /*-------------------------------------Navbar-------------------------------------------*/
    label #btn {
        display: block;
    }

    header ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        margin-right: 0;
        right: -100%;
        top: 60px;
        text-align: center;
        transition: .5s;
        background: rgba(255, 255, 255, 0.247);
        backdrop-filter: blur(10px);
    }

    header ul li {
        display: block;
        line-height: 10px;
        margin: 50px 0px;
    }

    header ul li a {
        font-size: 20px;
    }

    #check:checked~ul {
        right: 0;
    }

    #check:checked~label #btn {
        display: none;
    }

    #check:checked~label #close {
        display: block;
    }

    /*-------------------------------------About-------------------------------------------*/
    .about-container {
        display: block;
    }

    .about-img {
        display: flex;
        justify-content: center;
    }

    .about-img img {
        width: 48%;
        height: 48%;
    }

    .about-text {
        margin-top: 32px;
        text-align: center;
    }

    .about-text h1 {
        font-size: 32px;
        margin-bottom: 16px;
        line-height: 20px;
    }

    .about-text h2 {
        font-size: 20px;

    }

    .about-text p {
        font-size: 16px;
        line-height: 24px;
    }

    /*----------------------Footer--------------------*/
    .row-1 {
        display: block;
    }

    .row-1 .img {
        width: 100%;
        margin-bottom: 16px;
    }

    .row-1 .img img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: static;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 160px;
        height: auto;
    }

    .row-1 .text {
        width: 100%;
    }

    .row-1 .text p {
        margin: 0 5vw;
        font-size: 1.125rem;
        line-height: 16px;
        text-align: center;
    }

    .row-3 .text p {
        margin: 0;
        font-size: 1.125rem;
        margin-bottom: 12px;
        line-height: 16px;
    }
}

@media screen and (max-width:414px) {
    .about-text h1 {
        margin-bottom: 10px;
        line-height: 36px;
    }

    .about-text h2 {
        line-height: 28px;
        margin-bottom: 10px;

    }

    .about-text p {
        line-height: 24px;
        margin-bottom: 10px;


    }
}

@media (max-width:1019px) {
    .footer-text p {
        text-align: center;
    }

    .footer-text .social {

        text-align: center;
    }
}

@media (max-width:679px) {


    .footer-text p {
        text-align: start;
    }

    .footer-text .social {

        text-align: start;
    }
}